body{
    /* background-color: darkslategrey; */
    justify-content: center;
}
#root{
    position: absolute;
    z-index: -1;
    top: 0;;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 90%;
    background-color:aliceblue;
    margin: auto;
    cursor:pointer;
}
.display h2{
    display: inline;
}
.circle{
    width: 40px;
    height: 40px;
    background-color:aqua;
    border-radius: 50%;
}



/* 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 */
