body{
    /* background-color: darkslategrey; */
    justify-content: center;
}
#root{
    position: absolute;
    top: 0;;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 90%;
    background-color:aliceblue;
    margin: auto;
    cursor:move;
}
.display h2{
    display: inline;
}

/* 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 */
